.mypy_cache/
artifacts/*
!artifacts/.gitkeep 
data/*
!data/.gitkeep
deploy/new_user_credentials.csv
experiments/*
!experiments/.gitkeep
logs/*
!logs/.gitkeep
notebooks/Support Codes.py
notebooks/__pycache__/
notebooks/deploy_ref/
notebooks/ref/
.env
Project.txt